// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// Set global font size, define before importing bootstrap
$font-size-base: 0.9rem !default;

@import '~@fortawesome/fontawesome-free/css/all.css';
// OverlayScrollbars
@import '~overlayscrollbars/css/OverlayScrollbars.css';
// iCheck
@import '~icheck-bootstrap/icheck-bootstrap.css';
// AdminLTE
@import '../../vendor/almasaeed2010/adminlte/build/scss/AdminLTE.scss';
// Datetime picker
@import '../../vendor/almasaeed2010/adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css';
// Select2
@import '../../vendor/almasaeed2010/adminlte/plugins/select2/css/select2.min.css';

/* Overwrite default font */
* {
    font-family: "Lato", "sans-serif";
}